body.active-modal {
  overflow-y: visible;
}

.btn-modal {
  padding: 0 0;
  display: block;
  margin: 0 auto 0;
  border-style: none;
}

.modal, .overlay{
  width: 100vw;
  height: 100vh;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0.97;
  background: black;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: black;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  opacity: 0.9;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  color: white;
  border-radius: 50%;
  border-style:double;
  cursor: pointer;
}